@keyframes cursorExpand {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(2.5);
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes welcomeText {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes projectMoveUp {
	0% {
		transform: translateY(30px);
	}

	25% {
		transform: translateY(15px);
	}

	50% {
		transform: translateY(0px);
	}

	75% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(-30px);
	}
}

@keyframes projectMoveDown {
	0% {
		transform: translateY(-30px);
	}

	25% {
		transform: translateY(-15px);
	}

	50% {
		transform: translateY(0px);
	}

	75% {
		transform: translateY(15px);
	}

	100% {
		transform: translateY(30px);
	}
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}
