@keyframes cursorExpand {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(2.5);
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes welcomeText {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes projectMoveUp {
	0% {
		transform: translateY(30px);
	}

	25% {
		transform: translateY(15px);
	}

	50% {
		transform: translateY(0px);
	}

	75% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(-30px);
	}
}

@keyframes projectMoveDown {
	0% {
		transform: translateY(-30px);
	}

	25% {
		transform: translateY(-15px);
	}

	50% {
		transform: translateY(0px);
	}

	75% {
		transform: translateY(15px);
	}

	100% {
		transform: translateY(30px);
	}
}
