@font-face {
	font-family: active;
	src: url(../assets/font/active-regular-webfont.ttf);
}

html {
	font-size: 10px;
}

body {
	color: #fff;
	font-family: Muli;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
