@font-face {
	font-family: active;
	src: url(/assets/font/active-regular-webfont.ttf);
}

body {
	padding: 0;
	margin: 0;
	font-family: Muli;
	color: #fff;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
