@font-face {
	font-family: active;
	src: url(../assets/font/active-regular-webfont.ttf);
}

html {
	font-size: 10px;
}

body {
	color: #fff;
	font-family: Muli;
	font-weight: 300;
	cursor: url(../assets/img/cursor.svg), auto;
}

.container {
	margin: 0 auto;
	max-width: 1250px;
}
