.header {
	background-image: url(../assets/img/l9.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 160vh;
	position: relative;
	background-attachment: fixed;
	overflow: hidden;
}

.layer-0,
.layer-1,
.layer-2,
.layer-3,
.layer-4,
.layer-5,
.layer-6,
.layer-7 {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 160vh;
	position: absolute;
	top: 0;
	left: 0;
}

.layer-0 {
	background-image: url(../assets/img/l8.png);
}

.layer-1 {
	background-image: url(../assets/img/l7.png);
}

.layer-2 {
	background-image: url(../assets/img/l6.png);
}

.layer-3 {
	background-image: url(../assets/img/l5.png);
}

.layer-4 {
	background-image: url(../assets/img/l4.png);
}

.layer-5 {
	background-image: url(../assets/img/l3.png);
}

.layer-6 {
	background-image: url(../assets/img/l2.png);
}

.layer-7 {
	background-image: url(../assets/img/l1.png);
}

.wrapper2 {
	height: 100vh;
	background-color: #ddd;
}
