.myworks {
	&__title {
		color: #000;
		@include all-sections__title;
	}
}

.project {
	color: #000;
	margin-bottom: 110px;
	position: relative;
	height: 90vh;
	&:hover .project__box-title-number {
		color: #707fb7;
		opacity: 0.8;
	}

	&__left-container {
		display: flex;
		flex-direction: row-reverse;
		height: 100%;
	}

	&__box {
		@include project__box;

		&-left {
			width: 45%;
		}

		&-title {
			align-items: center;
			display: flex;
			font-size: 3rem;
			letter-spacing: 1.73px;
			line-height: 38px;
			margin-bottom: 50px;

			&-number {
				color: #000000;
				font-family: 'Active';
				font-size: 180px;
				letter-spacing: 15.88px;
				opacity: 0.06;
				transition: 2s;
			}

			&-firstline {
				font-weight: 500;
			}
		}
		&-description {
			&-text {
				font-size: 1.6rem;
				font-weight: 400;
				letter-spacing: 0.92px;
				line-height: 20px;
				width: 40%;

				&-left {
					width: 100%;
				}
			}
			&-techlist {
				font-weight: 600;
				margin: 40px 0 10px 0;
			}
			&-link {
				@include project__link;
				width: 9%;
				&-left {
					@include project__link;
					width: 20%;
				}
			}
		}
	}

	&__background {
		align-items: center;
		background-repeat: no-repeat;
		background-size: cover;
		bottom: 0;
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
		width: 30%;
		&-first {
			background-image: url(../assets/img/projects/first/project-bg.jpg);
		}

		&-second {
			background-image: url(../assets/img/projects/second/project-bg.jpg);
			left: 0;
			right: initial;
		}

		&-third {
			background-image: url(../assets/img/projects/third/project-bg.jpg);
		}

		&-fourth {
			background-image: url(../assets/img/projects/fourth/project-bg.jpg);
			left: 0;
			right: initial;
		}

		&-image {
			width: 100%;
			margin-left: 50%;
			&-right {
				margin-left: -50%;
			}

			&-left {
				margin-left: 50%;
			}
		}
	}
}

.projectAnimation-nth {
	animation: projectMoveUp 15s infinite alternate;
	animation-timing-function: linear;
}

.projectAnimation-th {
	animation: projectMoveDown 15s infinite alternate;
	animation-timing-function: linear;
}
