.myworks {
	&__title {
		color: #000;
		@include all-sections__title;
		@include hoverMyWorksTitle;
	}
}

.project {
	color: #000;
	margin-bottom: 110px;
	position: relative;
	height: 90vh;
	@include breakpoint(bigTablet) {
		height: 50vh;
	}
	@include breakpoint(phablet) {
		margin-top: 100px;
		height: auto;
	}

	&:hover .project__box-title-number {
		color: #707fb7;
		opacity: 0.8;
	}

	&__left-container {
		display: flex;
		flex-direction: row-reverse;
		height: 100%;
		@include breakpoint(tablet) {
			flex-direction: row;
		}
	}

	&__box {
		@include project__box;

		&-left {
			width: 45%;
			@include breakpoint(tablet) {
				width: 80%;
			}
		}

		&-title {
			align-items: center;
			display: flex;
			font-size: 3rem;
			letter-spacing: 1.73px;
			line-height: 3.8rem;
			margin-bottom: 50px;
			@include breakpoint(mobilethesmallest) {
				font-size: 2rem;
				line-height: 2.5rem;
			}

			&-number {
				color: #000000;
				font-family: 'Active';
				font-size: 180px;
				letter-spacing: 15.88px;
				opacity: 0.06;
				transition: 4s;
			}

			&-firstline {
				font-weight: 500;
			}
		}
		&-description {
			&-text {
				font-size: 1.6rem;
				font-weight: 400;
				letter-spacing: 0.92px;
				line-height: 2rem;
				width: 40%;
				@include breakpoint(tablet) {
					width: 80%;
				}
				@include breakpoint(mobilesmall) {
					width: 100%;
				}

				&-left {
					width: 100%;
				}
			}
			&-techlist {
				font-weight: 600;
				margin: 40px 0 10px 0;
			}
			&-link {
				@include project__link;
				width: 15%;
				@include breakpoint(HDDesktop) {
					font-size: 24px;
					width: 18%;
				}
				@include breakpoint(bigDesktop) {
					width: 15%;
				}
				@include breakpoint(smallerDesktop) {
					width: 17%;
				}
				@include breakpoint(tablet) {
					width: 25%;
				}
				@include breakpoint(newMobile) {
					width: 40%;
				}
				@include breakpoint(mobileonly) {
					width: 52%;
				}
				@include breakpoint(mobilesmall) {
					width: 66%;
				}

				&-left {
					@include project__link;
					width: 33%;
					@include breakpoint(HDDesktop) {
						font-size: 24px;
						width: 41%;
					}
					@include breakpoint(bigDesktop) {
						width: 33%;
					}
					@include breakpoint(smallerDesktop) {
						width: 36%;
					}
					@include breakpoint(tablet) {
						width: 25%;
					}
					@include breakpoint(newMobile) {
						width: 50%;
					}
					@include breakpoint(mobileonly) {
						width: 62%;
					}
					@include breakpoint(mobilesmall) {
						width: 82%;
					}
				}
			}
		}
	}

	&__mobile {
		display: none;
		@include breakpoint(tablet) {
			display: flex;
			justify-content: center;
			width: 100%;
			&-img {
				width: 100%;
			}
		}
	}

	&__background {
		align-items: center;
		background-repeat: no-repeat;
		background-size: cover;
		bottom: 0;
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
		width: 30%;
		@include breakpoint(tablet) {
			display: none;
		}

		&-first {
			background-image: url(../assets/img/projects/first/project-bg.jpg);
		}

		&-second {
			background-image: url(../assets/img/projects/second/project-bg.jpg);
			left: 0;
			right: initial;
		}

		&-third {
			background-image: url(../assets/img/projects/third/project-bg.jpg);
		}

		&-fourth {
			background-image: url(../assets/img/projects/fourth/project-bg.jpg);
			left: 0;
			right: initial;
		}

		&-image {
			width: 140%;
			margin-left: 15%;
			transition: 1.5s;

			&-right {
				margin-left: -55%;
			}

			&-left {
				margin-left: 15%;
			}
		}
	}
}
